<form  [formGroup]="updateForm" (ngSubmit)="update()">

  <label for="firstName">First Name: </label>
  <input id="firstName" name="firstName"  type="text" formControlName='firstName'><br>

  <label for="lastName">Last Name: </label>
  <input id="lastName" name="lastName" type="text"  formControlName='lastName'><br>

  <label for="emailId">Email Id: </label>
  <input id="emailId" name="emailId" type="text"  formControlName='emailId'><br>

  <div formGroupName="address">

    <label for="addressLine1">AddressLine1: </label>
    <input id="addressLine1" name="addressLine1" type="text"  class="form-control"  formControlName='addressLine1'><br>

    <label for="addressLine2">AddressLine2: </label>
    <input id="addressLine2" name="addressLine2"  formControlName='addressLine2'  class="form-control" type="text"><br>

    <label for="city">City: </label>
    <input id="city" name="city" type="text" formControlName='city'  class="form-control"><br>

    <label for="state">State: </label>
    <input id="state" name="state" type="text" formControlName='state'  class="form-control"><br>

    <label for="zipCode">Zip Code: </label>
    <input id="zipCode" name="zipCode" type="text" formControlName='zipCode'  class="form-control"><br>
  </div>
  <label for="phoneNumber">Phone Number: </label>
  <input id="phoneNumber" name="phoneNumber" type="text" formControlName='phoneNumber'><br>

  <label for="billingAccountNumber">Billing Account Number: </label>
  <input id="billingAccountNumber" name="billingAccountNumber" type="text" formControlName='billingAccountNumber'><br>

  <button type="update" value="update">Update Customer</button>
</form>

